@charset "UTF-8";
/* global variables */
.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.txt-hidden {
  text-indent: -9999px;
  text-decoration: none;
  display: block;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundImage--center{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* breakpoint */
$breakpoint-mobile: 335px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1440px;
