.IMGBLOCK {
    z-index: -1;
    position: absolute;
    top: 0;
  }
  .IMGBLOCK__RightCorner {
    z-index: -1;
    width: 50vw;
    height: 50vh;
    left:200px;
    position: absolute;
    background-position: -21px -212px;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/upperrightcornerPlanet.svg");
  }
  .IMGBLOCK__UpperLeft {
    z-index: -1;
    width: 50vw;
    height: 50vh;
    margin-right: 0;
    position: absolute;
    background-position: -44px 60px;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/upperleftPlanet.svg");
  }
  
  .IMGBLOCK__LowerLeft {
    z-index: -1;
    width: 82vw;
    z-index: -1;
    height: 50vh;
    margin-right: 0;
    position: absolute;
    background-position: -245px 117px;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/lowerleftPlanet.svg");
    margin-top: 50vh;
  }
  
  .IMGBLOCK__Character {
    z-index: -1;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left:0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/group_404.svg");
  }