.FormContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-left: 10.8vw;
    margin-right: 10.8vw;

  .FormContainer__label {
        display: block;
        text-align: left;
        width: 50%;
        font-size: 16px;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        line-height: 18px;
        margin-bottom: 9px;
        font-weight: 700;
      }


      .FormContainer__input {
        display: inline-block;
        padding-left: 9px;
        text-align: left;
        width: 100%;
        height: 41px;
        border: solid 1.5px #6ec8b1;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.57);
        background-color: white;
        border-radius: 6px;
        margin-left: 0;
      }

      .FormInputError{
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.57);
        border: solid 1.5px #ff5b5b;
    }



    .FormContainer__button {

      width: 100%;
      height: 41px;
        border: none;
        border-radius: 31px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(to bottom, #73d2ba, #559a8b 172%);
        font-size: 16px;
        color: white;
      

    }
}

